body {
  margin: 0px;
  box-sizing: border-box;
  background-color: #e9e3c8;
  font-family: 'DM Sans', sans-serif;
}

@media (min-width: 475px) {}

.wrapper {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 0.01fr .5fr;
  margin: 0% 10%;
  height: 95vh;
}

.banner {
  grid-column-start: 1;
  grid-column-end: 4;
}

.middle-banner {
  width: 100%;
  height: 100%;
}

.left-panel {
  min-height: 950px;
  padding: 1%;
  background-image: url(assets/floral-frost.jpg);
  background-repeat: repeat;
}

.left-panel-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: red;
}

.left-panel-title {
  background-color: #ffffff;
  border: 8px solid #c9d215;
  border-style: groove;
  font-size: 1.2rem;

  flex-grow: 0.2;
  text-align: center;
  margin: 5% 5% 0% 5%;
  font-weight: bold;
}

.left-panel-title-text {
  display: flex;
  flex-direction: column;
  padding: 0% 3%;
}

.six-great-principles {
  background-color: #ffffff;
  border: 8px solid #c9d215;
  border-style: groove;
  border-top: 0px;
  font-size: 1.2rem;

  flex-grow: 0.2;
  text-align: center;
  margin: 0% 5% 5% 5%;
  font-weight: bold;
}

.six-great-principles-text {
  display: flex;
  flex-direction: column;
  padding: 0% 3%;
}

.translation {
  color: blue;
  font-weight: 100;
}

.master {
  display: flex;
  flex-direction: column;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
  color: red;
  line-height: 1.6rem;

  width: 65%;
  margin: auto;
}

.dalai {
  display: flex;
  flex-direction: column;

  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
  color: red;
  line-height: 1.6rem;

  width: 85%;
  margin: auto;
}

.content {
  grid-column-start: 2;
  grid-column-end: 3;

  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;

  background-color: #ffffff;
  color: goldenrod;
  text-align: center;
}

.announcements-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
  }

.announcements-title {
  font-size: 50px;
  display: inline-block;
  font-weight: bolder;
  color: red;
  animation: mover 6s linear infinite;
}

@keyframes mover {
  0% {
    text-shadow: 0 0 30px rgba(0, 0, 0, 0);
  }

  50% {
    text-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
    transform: translateX(100px);
  }

  100% {
    text-shadow: 0 0 30px rgba(0, 0, 0, 0);
  }
}

.announcements {
  display: inline-flex;
  justify-content: center;
  max-width: 100%;
}

.announcements-left {
  width: 50%;
}

.community-date {
  font-size: 1rem;
}

.announcements-right {
  width: 50%;
}

.announcements-images {
  width: 90%;
}

.separator-top {
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: none;
  border-left-style: solid;
  border-top-color: black;
  border-right-color: black;
  border-bottom-color: black;
  border-left-color: black;
  margin-top: 3%;
  margin-bottom: 3%;
  margin-right: auto;
  margin-left: auto;
  width: 90%;
}

.schedule-container {
  display: flex;
  flex-direction: column;
  padding-top: .5rem; 
}

.schedule-title {
  font-size: 50px;
  display: inline-block;
  font-weight: bolder;
  color: red;
  animation: mover 6s linear infinite;
}

@keyframes mover {
  0% {
    text-shadow: 0 0 30px rgba(0, 0, 0, 0);
  }

  50% {
    text-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
    transform: translateX(30px);
  }

  100% {
    text-shadow: 0 0 30px rgba(0, 0, 0, 0);
  }
}

.description {
  display: inline-flex;
  justify-content: center;
  max-width: 100%;
  margin: 2%;
}

.schedule {
  display: inline-flex;
  justify-content: center;
  max-width: 100%;
}

.schedule-left {
  width: 50%;
}

.schedule-right {
  width: 50%;
}

.schedule-images {
  height: 75%;
  width: 90%;
}

.locations {
  min-height: 950px;
  padding: 1%;
  background-image: url(assets/floral-frost.jpg);
  background-repeat: repeat;
}

.locations-container {
  display: flex;
  flex-direction: column;
  /*
  justify-content: space-evenly;
  */
  font-size: 1.2rem;
  text-align: center;
  color: blue;
}

.location-title {
  color: red;
  font-weight: bold;
}

.tele-contact {
  color: red;
  font-weight: bold;
}

.indiana {
  padding-top: .5rem;
  padding-bottom: 2.5rem;
}
.kentucky {
  padding-bottom: 2.5rem;
}
.texas {
  padding-bottom: 2.5rem;
}
.new-jersey {
  padding-bottom: 2rem;
}

@media (max-width: 475px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    margin: 0%;
  }
  .banner {
    grid-column-start: 2;
    grid-column-end: 3;
  }
  .left-panel {
    display: none;
  }
  .locations {
    display: none;
  }
  .content {
    font-size: 0.9rem;
    height: 95vh;
    background-repeat: repeat;
  }
  .announcements-images {
    width: 75%;
    height: 75%;
  }
  .announcements-title {
    font-size: 35px;
  }
  .schedule-title {
    font-size: 35px;
  }
  .announcements-container {
    padding-bottom: 1rem;
  }
}

@media (max-width: 835px) {
  .left-panel-title {
    font-size: 1rem;
  }
  .six-great-principles {
    font-size: 1rem;
  }
  .master {
    font-size: .8rem;
  }
  .dalai {
    font-size: .8rem;
  }
  .announcements-images {
    width: 75%;
    height: 75%;
  }
  .announcements-title, .schedule-title {
    font-size: 35px;
  }
  .content {
    font-size: .9rem;
  }
  .locations-container {
    font-size: 1rem;
    justify-content: space-evenly;
  }
}